<servers>
    <server>
        <id>newrelic-snapshots</id>
        <username>${env.ARTIFACTORY_USERNAME}</username>
        <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
    <server>
        <id>newrelic-releases</id>
        <username>${env.ARTIFACTORY_USERNAME}</username>
        <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
</servers>